<form method="GET" action="{% url 'search:query' %}" class="form-inline my-2 my-lg-0">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" name='q' value="{{ request.GET.q }}" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary btn-number">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>