{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
        <div class="jumbotron">
		  <h1 class="display-4">Sorry! This page doesn't exist!</h1>
		  <p class="lead">404 Error. Oh! Double Check Your URL</p>
		  <hr class="my-4">
		  <p> Looks like somthing wnet wrong on our end.Head back to the KoolBuch Finance homepage</p>
		  <a class="btn btn-primary btn-lg" href="{% url 'finance:portfolio' %}" role="button">Go To Home Page</a>
		</div>
</div>


{% endblock  %} 